doctype html
html(lang="en")
    head
        title= pageTitle
        meta(charset="UTF-8")
        link(rel="stylesheet", type="text/css", href="/css/application.css")
    body
        #form
        #main
        script(src="/js/application.js")
