doctype html
html(lang="en")
    head
        title= pageTitle
        meta(charset="UTF-8")
        link(rel="stylesheet", type="text/css", href="/css/application.css")
        link(rel="stylesheet", type="text/css", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    body
        #main
        #form
        #add
        script(src="/js/application.js")
