.timeline {
    width: 500px;
    margin: auto;


    .month {
        padding: 1em 0;
    }

    .event {
        &.closed {
            .actions { display: none; }
        }
        header {
            position: relative;
            .title-bar {
                cursor: pointer;
            }
            .actions {
                position: absolute;
                right: 1em;
            }
        }
    }
}

#form {
    form {
        position: fixed;
        top: 0;
        right: 0;
        height: 100%;
        width: 500px;
        background-color: white;
    }
}

.toggle {
    &.closed {
        display: none;
    }
}

button.material {
    border: none;
    position: fixed;
    right: 1em;
    bottom: 1em;
    box-shadow: 0 4px 4px #999;
    border-radius: 1.25em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    cursor: pointer;
}

#add-button {
    font-size: 1.5em;
    background-color: red;
    color: white;
}
