@import "./partials/datepicker.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

$coolblue: #3F6BD4;
$lightcoolblue: #85A6F5;

body {
    color: #555;
    background-color: #EEE;
    font-family: Serif;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    border: none;
    font-size: 1em;
    background-color: $coolblue;
    color: white;
    border-radius: 0.2em;
    padding: 0.5em;
}

.timeline {
    width: 90%;
    margin: auto;

    .nav-container {
        position: relative;
        padding: 0 1.5em;

        &, nav {
            width: 150px;
        }

        nav {
            position: fixed;

            .nav-element {
                font-family: Open Sans, sans-serif;
                padding: 0.75em 1em;
                position: relative;
                border-bottom: solid 1px #EEE;

                a {
                    color: #F06;
                }

                .events-stats {
                    transition: all 0.3s;
                    opacity: 0;
                    top: 0;
                    position: absolute;
                    text-align: center;
                    width: 100%;
                    font-size: 10pt;
                }

                &:hover {
                    .events-stats {
                        opacity: 1;
                        top: -1em;
                    }
                }
            }
        }
    }

    .events-container {
        .year {
            position: relative;

            h2 {
                font-family: Open Sans, sans-serif;
                font-weight: normal;
                text-shadow: 1px 1px 0px white;
                text-align: center;
                color: #F06;
            }
        }

        .month {

            .add-button-container {
                margin-left: auto;
                font-size: 0.75em;
                float: right;
                width: 2em;
                position: relative;

                button, .action-buttons button {
                    color: inherit;
                    background-color: transparent;
                    box-shadow: none;
                }

                &:hover {
                    .action-buttons {
                        max-height: 400px;
                    }
                }

                .action-buttons {
                    z-index: 1;
                    transition: 0.3s;
                    width: 100%;
                    background-color: white;
                    max-height: 0px;
                    overflow: hidden;
                    position: absolute;
                    margin-top: 2em;
                    display: block;
                    color: #E77B20;
                }
            }

        }

        .event {
            border-left: solid 5px transparent;
            border-bottom: solid 1px #EEE;

            &.saving {
                color: gray;
            }

            &:hover {
                border-left: solid 5px $lightcoolblue;
            }

            header {
                cursor: pointer;
                padding: 0.70em 1em;
                position: relative;
                .infos {
                    width: 100%;
                    :nth-child(1) {
                        width: 5%;
                    }
                    :nth-child(2) {
                        width: 10%
                    }
                    :nth-child(3) {
                        width: 80%;
                    }
                    .actions {
                        opacity: 0;
                    }
                    &:hover {
                        .actions {
                            opacity: 1;
                        }
                    }
                }
            }

            p {
                padding: 1em 1em;
                margin: 0;
                margin-bottom: 1em;
            }
        }
    }
}

.toggle {
    &.closed {
        display: none;
    }
}

button.material {
    border: none;
    box-shadow: 0 4px 4px #999;
    border-radius: 1.25em;
    width: 2.5em;
    height: 2.5em;
    line-height: 0;
    cursor: pointer;
}

#edit-section {
    position: fixed;
    right: 0;
    bottom: 0;
    .add-button-container:hover {
        text-align: center;
        .action-buttons {
            opacity: 1;
        }
    }
    .action-buttons {
        opacity: 0;
        button {
            margin: auto;
            margin-bottom: 1em;
            font-size: 1.05em;
            background-color: #E77B20;
            color: white;
            display: block;
        }
    }

    #event-form {
        position: absolute;
        bottom: 0;
        right: 8em;
        width: 350px;
        background-color: white;
        box-shadow: 1px 1px 10px #666;
        border-radius: 5px 5px 0 0;
        .header {
            border-radius: 5px 5px 0 0;
            padding: 0.5em;
            background-color: #666;
            color: #EEE;
            text-align: left;
            font-family: Arial;

            .cancel-button {
                position: absolute;
                right: 0;
                top: 0;
                border: none;
                background: none;
                color: inherit;
                font-size: 1em;
            }
        }
        form {
            padding: 1em 0.25em;
            input, textarea, select {
                font-family: Arial;
                font-size: 1em;
                padding: 1em 0.5em;
                width: 100%;
                box-sizing: border-box;
                border: none;
                border-bottom: solid 1px #CCC;
                color: inherit;
            }
        }
    }

    .add-button {
        margin: 0 1em 1em 1em;
        font-size: 1.5em;
        background-color: #3F6BD4;
        color: white;
    }
}

.soft-box {
    border-radius: 1px;
    background-color: white;
    box-shadow: 1px 1px 2px #CCC;
}

.table {
    display: table;
}

.cell {
    display: table-cell;
}
