@import "./partials/datepicker.scss";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

$coolblue: #3F6BD4;
$lightcoolblue: #85A6F5;

html, body {
    height: 100%;
}
body {
    color: #555;
    font-family: Arial;
    scroll-behavior: smooth;
    margin: 0;
}

button, input[type=submit] {
    cursor: pointer;
    background-color: $coolblue;
    color: white;
    &[disabled] {
        background-color: gray;
    }
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#app-notifier {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    .notif {
        border-radius: 0 0 3px 3px;
        padding: 0.5em 1em;
        box-shadow: 1px 1px 2px grey;
        display: inline-block;
        color: white;
        &.error {
            background-color: orange;
        }
        &.info {
            background-color: green;
        }
    }
}

#app-header {
    background-color: $coolblue;
    font-size: 1.1em;
    padding: 0.3em 1em;
    color: white;
    position: relative;

    a {
        color: inherit;
    }
    .logout {
        position: absolute;
        border: none;
        border-left: solid;
        color: white;
        background-color: transparent;
        right: 0;
        top: 0;
        height: 100%;
        font-size: 0.75em;
    }
}

.flat-button {
    cursor: pointer;
    border: none;
    font-size: 1em;
    background-color: $coolblue;
    color: white;
    border-radius: 0.2em;
    padding: 0.5em;
}

.timeline {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    .timeline-header {
        background-color: white;
        box-shadow: 0 -2px 6px 1px #DDD inset;
        padding: 1em;
        h1 {
            margin: 0;
        }
        table {
            margin: auto;
            td:nth-child(2) {
                text-align: right;
            }
        }
    }

    .timeline-content {
        display: flex;
        flex-grow: 1;
    }

    .stories-list {
        overflow: auto;
        width: 250px;
        min-width: 250px;
        border-right: 1px solid #EEE;
        .story {
            background-color: #fff;
            border-left: solid 5px transparent;
            border-bottom: solid 1px #EEE;

            &:hover, &.selected {
                border-left: solid 5px $lightcoolblue;
            }

            header {
                cursor: pointer;
                padding: 0.70em 1em;
                position: relative;
                .infos {
                    width: 100%;
                    .actions {
                        position: absolute;
                        right: 1em;
                        top: 1em;
                        opacity: 0;
                    }
                    &:hover {
                        .actions {
                            opacity: 1;
                        }
                    }
                }
            }

            p {
                padding: 1em 1em;
                margin: 0;
                margin-bottom: 1em;
            }
        }
    }
    .main {
        overflow: auto;
        flex-grow: 1;
        padding: 1em 3em;
    }

}

.toggle {
    &.closed {
        display: none;
    }
}

button.material {
    border: none;
    box-shadow: 0 4px 4px #999;
    border-radius: 1.25em;
    width: 2.5em;
    height: 2.5em;
    line-height: 0;
    cursor: pointer;
}


#story-form {
    margin: auto;
    input, textarea {
        width: 100%;
        font-family: Arial;
        font-size: 1em;
        padding: 30px 10px;
        box-sizing: border-box;
        border: none;
        color: inherit;
    }
    input[name=title] {
        font-size: 1.5em;
    }
    .actions {
        text-align: right;
    }
}

.add-button {
    margin: 0 1em 1em 1em;
    font-size: 1.5em;
    background-color: #3F6BD4;
    color: white;
}

.soft-box {
    border-radius: 1px;
    background-color: white;
    box-shadow: 2px 2px 1px #CCC;
}

.fluid-content {
    min-width: 500px;
    max-width: 900px;
    width: 90%;
}

.pikaday-button {
    background-color: transparent;
    color: inherit;
    font-size: 1em;
    border: none;
}

.fade-enter {
    opacity: 0;
    transition: opacity .5s;
    &.fade-enter-active {
        opacity: 1;
    }
}

.fade-from-top-appear {
    opacity: 0;
    transform: translate(0, -50px);
    transition: all 700ms ease-in-out;
    &.fade-from-top-appear-active {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.fade-from-top-enter {
    opacity: 0;
    transform: translate(0, -50px);
    transition: all 500ms ease-in-out;
    &.fade-from-top-enter-active {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.fade-from-top-leave {
    opacity: 1;
    transform: translate(0, 0);
    transition: all 500ms ease-in-out;
    &.fade-from-top-leave-active {
        opacity: 0;
        transform: translate(0, -50px);
    }
}

.blink-enter.blink-enter-active {
    animation: blink 2s 1;
}

@keyframes blink {
    0% { background-color: white; }
    50% { background-color: #fbda7d; }
    100% { background-color: white; }
}
